/*----------------------
         RESET          
-----------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------------
         GENERAL         
-----------------------*/

body {
  height: 100vh;
  font-family: "Open Sans", serif;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

ul {
  text-transform: uppercase;
  list-style: none;
}

/*----------------------
        HEADER         
-----------------------*/

header .row {
  padding-top: 20px;
  padding-bottom: 20px;
}

header li a {
  font-weight: 700;
  color: #303030;
  padding: 10px;
  padding-right: 15px;
}

header li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
  padding-bottom: 55px;
}

header li a:hover .row {
  padding-bottom: 0px;
}
/*----------------------
         MAIN          
-----------------------*/

main {
  color: #ffffff;
}

.contentMain {
  background-color: #000000;
}
.contentMain .container {
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navMain {
  background-color: #0282f9;
}

.navMain ul {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navMain ul li {
  display: flex;
  align-items: center;
}

.navMain ul li img {
  max-width: 25%;
  padding-right: 10px;
}

.navMain ul li:nth-child(4) img {
  max-width: 18%;
}

.navMain ul li:last-child img {
  max-width: 60%;
}

.navMain ul a {
  color: #ffffff;
}
/*----------------------
         FOOTER          
-----------------------*/

/*----------------------
         TOP FOOTER         
-----------------------*/
.footerTop {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
}
.footerTop .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 382px;
  overflow: hidden;
}
.footList {
  display: flex;
  flex-wrap: wrap;
}

.footList ul {
  padding-top: 20px;
  padding-right: 50px;
}

.footList ul h3 {
  color: #ffffff;
  padding-bottom: 15px;
}

.footList ul li a {
  text-transform: none;
  color: #959595;
}

.footList ul li a:hover {
  color: #ffffff;
  transition: 0.1s;
  cursor: pointer;
}

.img-foot {
  background-image: url("../img/dc-logo-bg.png");
  background-repeat: no-repeat;
  width: 570px;
  height: 570px;
}

/*----------------------
        BOTTOM FOOTER          
-----------------------*/
.footerBottom {
  background-color: #303030;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-foot {
  background-color: #303030;
  border: 1px solid #0282f9;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px;
}

.btn-foot:hover {
  background-color: #0282f9;
  transition: 0.2s;
}

.footerBottom h3 {
  color: #0282f9;
  padding-right: 25px;
}

.footerBottom nav li {
  padding: 0px 8px;
}
