/*----------------------
         RESET          
-----------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*----------------------
         GENERAL         
-----------------------*/

body {
  height: 100 vh;
  font-family: "Open Sans", serif;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

a {
  text-decoration: none;
}

/*----------------------
        HEADER         
-----------------------*/

header .row {
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

header ul {
  text-transform: uppercase;
  list-style: none;
}

header li a {
  font-weight: 600;
  color: #000000;
  padding: 10px 10px;
}

header li a:hover {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
  transition: 0.2s;
}
/*----------------------
         MAIN          
-----------------------*/

main {
  color: #ffffff;
}

.contentMain {
  background-color: #000000;
}
.contentMain .container {
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navMain {
  background-color: #0282f9;
}

.navMain ul {
  justify-content: center;
  text-transform: uppercase;
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navMain ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navMain ul li img {
  max-width: 25%;
}

.navMain ul li:nth-child(4) img {
  max-width: 18%;
}

.navMain ul li:last-child img {
  max-width: 60%;
}

.navMain ul a {
  color: #ffffff;
}
/*----------------------
         FOOTER          
-----------------------*/
